In [1]:
import dask.dataframe as dd

# Carregar o calend√°rio
calendar = dd.read_parquet('../data/calendar_with_yearweek_parquet/')

# Carregar o item_sales
sales = dd.read_parquet('../data/sales_long_parquet/')

In [2]:
calendar.head()

        date    weekday  weekday_int    d event yearweek
0 2011-01-29   Saturday            1  d_1  <NA>   201104
1 2011-01-30     Sunday            2  d_2  <NA>   201104
2 2011-01-31     Monday            3  d_3  <NA>   201105
3 2011-02-01    Tuesday            4  d_4  <NA>   201105
4 2011-02-02  Wednesday            5  d_5  <NA>   201105

In [3]:
# Fazer o merge de sales e calendar com base na coluna 'd', incluindo 'yearweek', 'date' e 'event'
merged_sales = sales.merge(calendar[['d', 'yearweek', 'date', 'event']], on='d', how='left')

# Verificar as primeiras linhas do DataFrame resultante
print(merged_sales.head())

                       id              item    category    department  \
0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1  ACCESORIES_1_002_NYC_1  ACCESORIES_1_002  ACCESORIES  ACCESORIES_1
2  ACCESORIES_1_003_NYC_1  ACCESORIES_1_003  ACCESORIES  ACCESORIES_1
3  ACCESORIES_1_004_NYC_1  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
4  ACCESORIES_1_005_NYC_1  ACCESORIES_1_005  ACCESORIES  ACCESORIES_1

               store store_code    region    d  sales yearweek       date  \
0  Greenwich_Village      NYC_1  New York  d_1      0   201104 2011-01-29
1  Greenwich_Village      NYC_1  New York  d_1      0   201104 2011-01-29
2  Greenwich_Village      NYC_1  New York  d_1      0   201104 2011-01-29
3  Greenwich_Village      NYC_1  New York  d_1      0   201104 2011-01-29
4  Greenwich_Village      NYC_1  New York  d_1      0   201104 2011-01-29

  event
0  <NA>
1  <NA>
2  <NA>
3  <NA>
4  <NA>

In [4]:
# Salvar como Parquet
merged_sales.to_parquet('../data/merged_sales_with_calendar_parquet/', write_index=False)